.table {
    text-align: center;
}
.table img {
    width: 6rem;
    height: auto;
    padding: 5px;
}
.imgOverlay {
    position: relative;
    display: inline-block;
}

.selectedOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 150, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

    