.container{
    display: flex;
    flex-direction: column;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.imgContainer img {
    margin: 10px;
}

img {
    transition: all .2s ease-in-out; 
}

img:hover { 
    transform: scale(1.1); 
}